# Questions

In [2]:
from IPython.display import Image

## Easy

***

<div>
    <img src='./resources/q1.png' width=1000>
    <img src='./resources/q1-table-structure.png' width=500>
    <img src='./resources/q1-sample-table.png' width=240>
    <img src='./resources/q1-assumptions.png' width=745>
</div>

```sql
SELECT candidate_id
FROM candidates
WHERE skill in ('Python','Tableau','PostgreSQL')
GROUP BY candidate_id
HAVING COUNT(*) = 3
ORDER BY 1 ASC; 
```

***

<div>
    <img src='./resources/q2.png' width=1000>
    <img src='./resources/q2-table-structure1.png' width=250>
    <img src='./resources/q2-table-structure2.png' width=213>
    <br>
    <img src='./resources/q2-sample-table1.png' width=254>
    <img src='./resources/q2-sample-table2.png' width=326>
</div>

```sql
SELECT 
  pages.page_id
FROM 
    pages 
    LEFT JOIN 
    page_likes 
    ON pages.page_id = page_likes.page_id
GROUP BY 1
HAVING COUNT(page_likes.user_id) = 0
ORDER BY 1;
```

***

<div>
    <img src='./resources/q3.png' width=1000>
    <img src='./resources/q3-table-structure.png' width=540>
    <img src='./resources/q3-sample-table.png' width=405>
</div>

```sql
SELECT 
  SUM(CASE
    WHEN device_type = 'laptop' THEN 1
    ELSE 0
    END) AS "laptop_views",
  SUM(CASE
    WHEN device_type IN ('phone','tablet') THEN 1
    ELSE 0
    END) AS "mobile_views"
FROM viewership;
```

***

<div>
    <img src='./resources/q4.png' width=1000>
    <img src='./resources/q4-table-structure.png' width=240>
    <img src='./resources/q4-sample-table.png' width=515>
</div>

```sql
SELECT 
  EXTRACT(MONTH FROM submit_date) as "mth", 
  product_id as "product",
  ROUND(AVG(stars),2) as "avg_stars"
FROM reviews
GROUP BY 
  EXTRACT(MONTH FROM submit_date),
  product_id
ORDER BY
  "mth" ASC,
  "product" ASC
```

***

<div>
    <img src='./resources/q5.png' width=1000>
    <img src='./resources/q5-table-structure.png' width=350>
    <img src='./resources/q5-sample-table.png' width=525>
</div>

```sql
SELECT 
    card_name, 
    MAX(issued_amount)-MIN(issued_amount) "difference"
FROM monthly_cards_issued
GROUP BY card_name
ORDER BY 2 DESC;
```

***

<div>
    <img src='./resources/q6.png' width=1000>
    <img src='./resources/q6-table-structure.png' width=160>
    <img src='./resources/q6-sample-table.png' width=645>
</div>

```sql
SELECT 
    drug, 
    (total_sales-cogs) as "total_profit"
FROM pharmacy_sales
ORDER BY "total_profit" DESC
LIMIT 3;
```

***