In [1]:
import numpy as np
import pandas as pd
from scipy import stats

# 2 Sample Z-test

<div>
    <img src='./images/2samplez.png' width=800>
</div>

In [2]:
data = pd.DataFrame({'A':[40,5.3,1.99],'B':[37,6.5,2.36]}, index=['n','x_hat','sigma'])
data

           A      B
n      40.00  37.00
x_hat   5.30   6.50
sigma   1.99   2.36

In [10]:
lower_bound = (data.B.x_hat-data.A.x_hat)+stats.norm.ppf(0.025)* \
                np.sqrt((data.A.sigma/data.A.n)+(data.B.sigma/data.B.n))

In [11]:
upper_bound = (data.B.x_hat-data.A.x_hat)-stats.norm.ppf(0.025)* \
                np.sqrt((data.A.sigma/data.A.n)+(data.B.sigma/data.B.n))

In [12]:
print(f'{lower_bound} <= mu1-mu2 <= {upper_bound}')

0.539594552442974 <= mu1-mu2 <= 1.8604054475570262

**0 difference in the population means of these two plumbers is unlikely, because zero is not in the 95% range.**

# Paired t-test

<div>
    <img src='./images/pairedttest.png' width=700>
</div>

In [13]:
!pip install pingouin

Collecting pingouin
  Downloading pingouin-0.5.4-py2.py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (1.26.4)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (1.11.4)
Requirement already satisfied: pandas>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (2.1.4)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (3.8.0)
Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (0.13.2)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (0.14.0)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (1.4.1.post1)
Collecting pandas-flavor (from pingouin)
  Downloading pandas_flavor-0.6.0-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: tabulate in /opt/anaconda3/lib/python3.11/site-packages (from pingouin) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.5->pingouin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.5->pingouin) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.5->pingouin) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib->pingouin) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib->pingouin) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib->pingouin) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib->pingouin) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib->pingouin) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib->pingouin) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib->pingouin) (3.0.9)
Requirement already satisfied: xarray in /opt/anaconda3/lib/python3.11/site-packages (from pandas-flavor->pingouin) (2023.6.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn->pingouin) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn->pingouin) (2.2.0)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/lib/python3.11/site-packages (from statsmodels->pingouin) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.11/site-packages (from patsy>=0.5.2->statsmodels->pingouin) (1.16.0)
Downloading pingouin-0.5.4-py2.py3-none-any.whl (198 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.9/198.9 kB 450.5 kB/s eta 0:00:00a 0:00:01
Downloading pandas_flavor-0.6.0-py3-none-any.whl (7.2 kB)
Installing collected packages: pandas-flavor, pingouin
Successfully installed pandas-flavor-0.6.0 pingouin-0.5.4

In [14]:
data = pd.DataFrame({'before':[32,11,21,17,30,38,14],
                    'after':[39,15,35,13,41,39,22]})
data

   before  after
0      32     39
1      11     15
2      21     35
3      17     13
4      30     41
5      38     39
6      14     22

In [15]:
import pingouin as pin

<div>
    <img src='./images/pingouin-ttest.png' width=700>
</div>

H0: D = 0<br>
Ha: D > 0

In [36]:
paired_ttest = pin.ttest(data.after.values,data.before.values,paired=True,alternative='greater',confidence=0.95)

In [37]:
paired_ttest

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,2.542712,6,greater,0.02196,"[1.38, inf]",0.523829,4.369,0.339258

In [38]:
paired_ttest['T']

T-test    2.542712
Name: T, dtype: float64

In [39]:
paired_ttest['p-val'].iloc[0]<0.05

True

**Reject H0. There is enough evidence to conclude that, on average, the ratings have<br>increased significantly. This result might be used by managers to support a decision to<br>continue using the videos or to expand the use of such videos in an effort to increase<br>public support for their company.<br>**